
@import url(https://cdn.cobi.bike/static/fonts/UniSansRegular.css);
@import url(https://cdn.cobi.bike/static/fonts/UniSansRegularItalic.css);

html {
  background: #1d1d23;
  margin:1vw;
  overflow: hidden;
}

p{
  font-family: sans-serif;
  font: 100 1.1rem/10px 'UniSansRegular', Heveltica, Arial, san-serif; color: #00c8e6;
}


.face{
  position: relative;
  background-color: #2d2d36;
  padding: 0;
}

.value{
  position: absolute;
  top: 2.5rem;
  font-family: sans-serif;
  font: 100 2.7rem/2.7rem 'UniSansRegularItalic', Heveltica, Arial, san-serif; color: #FFF;
  margin: 0rem 1rem .5rem 1.5rem;
  letter-spacing: .2rem;
}

.unit{
  position: absolute;
  top: 5rem;
  font-family: sans-serif;
  font: 100 1rem/.8rem 'UniSansRegular', Heveltica, Arial, san-serif; color: #00c8e6;
  letter-spacing: .1rem;
  padding: .25rem 0 0 1.5rem;
}

.label{
  position: absolute;
  bottom: .5rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font: 100 1rem/1rem 'UniSansRegular', Heveltica, Arial, san-serif; color: #ABABAB;
  letter-spacing: .07rem;
  margin: 2rem .5rem .5rem 1.5rem;
}

.grid1 {
  display: grid; grid-gap: 1rem;
  grid-template-rows: 44vh 44vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '🍻 💩 🎇 🎇'
    '🍟 ⛱ 🎇 🎇';
}

.grid2 {
  display: grid; grid-gap: 1rem;
  grid-template-rows: 44vh 44vh;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-areas:
    '🍻 💩 🚀 🎇'
    '🍟 ⛱ ☄️ 🥁';
}

.grid3 {
  display: grid; grid-gap: 1rem;
  grid-template-rows: 44vh 44vh;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-areas:
    '🎇 🎇 🎇 🎇'
    '🎇 🎇 🎇 🎇';
}

#data-field1 {
  grid-area: 🍻;
  border-bottom: 4px solid #fa4b69;
}
#data-field2 {
  grid-area: 💩;
  border-bottom: 4px solid #c8f26d;
}
#data-field3 {
  grid-area: 🍟;
  border-bottom: 4px solid #facf47;
}
#data-field4 {
  grid-area: ⛱;
  border-bottom: 4px solid #00c8e6;
}
#data-field5 {
  grid-area: 🥁;
  border-bottom: 4px solid #FFF;
}
#data-field6 {
  grid-area: 🚀;
  border-bottom: 4px solid #FFF;
}
#data-field7 {
  grid-area: ☄️;
  border-bottom: 4px solid #FFF;
}

#tamagochi {
  grid-area: 🎇;
}

.grid1 #data-field5,
.grid1 #data-field6,
.grid1 #data-field7 {
  display: none;
}

.grid2 #tamagochi {
  max-width: 21.5vw;
}

.grid3 #data-field1,
.grid3 #data-field2,
.grid3 #data-field3,
.grid3 #data-field4,
.grid3 #data-field5,
.grid3 #data-field6,
.grid3 #data-field7 {
  display: none;
}
