
@import url(https://cdn.cobi.bike/static/fonts/UniSansRegular.css);
@import url(https://cdn.cobi.bike/static/fonts/UniSansRegularItalic.css);

html {
  background: #1d1d23;
  margin:1vw;
  overflow: hidden;
}

.face{
  position: relative;
  background-color: #2d2d36;
  padding: 0;
}

.value{
  position: absolute;
  top: 2rem;
  font-family: sans-serif;
  font: 100 2.7rem/2rem 'UniSansRegularItalic', Heveltica, Arial, san-serif; color: #FFF;
  margin: 0rem 1rem .5rem 1.5rem;
  letter-spacing: .2rem;
}

.unit{
  position: absolute;
  top: 4.55rem;
  font-family: sans-serif;
  font: 100 1.35rem/10px 'UniSansRegular', Heveltica, Arial, san-serif; color: #00c8e6;
  letter-spacing: .1rem;
  padding: .25rem 0 0 1.5rem;
}

.label{
  position: absolute;
  bottom: 1rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font: 100 1.25rem/10px 'UniSansRegular', Heveltica, Arial, san-serif; color: #ABABAB;
  letter-spacing: .07rem;
  margin: 2rem 1rem 1rem 1.5rem;
}


p{
  font-family: sans-serif;
  font: 100 1.1rem/10px 'UniSansRegular', Heveltica, Arial, san-serif; color: #00c8e6;
}

.grid1 {
  display: grid; grid-gap: 1rem;
  grid-template-rows: 44vh 44vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '🍻 💩 🎇 🎇'
    '🍟 ⛱ 🎇 🎇';
}

.grid2 {
  display: grid; grid-gap: 1rem;
  grid-template-rows: 44vh 44vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '🍻 🍻 💩 🎇'
    '🍻 🍻 🍟 ⛱';
}

#data-field1 {
  grid-area: 🍻;
  /*background: #fa4b69;´*/
  border: 1px;
  border-style: dotted;
}
#data-field2 {
  grid-area: 💩;
}
#data-field3 {
  grid-area: 🍟;
}
#data-field4 {
  grid-area: ⛱;
}
#tamagochi {
  grid-area: 🎇;
}
